<div class="wrapper">
    <header class="main-header">
        <a class="logo">
            <span class="logo-mini"><b>AIMS</b></span>
            <span class="logo-lg"><b>AIMS</b></span>
        </a>

        <nav class="navbar navbar-static-top" role="navigation">

            <a class="sidebar-toggle" data-toggle="offcanvas" role="button" data-ng-click="vm.sideBar(1);">
                <span class="sr-only"></span>
            </a>


        </nav>
    </header>

    <aside class="main-sidebar">
        <!-- sidebar -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="../../images/ranjith.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Ranjeet Kumar</p>
                    <span class="text-aqua text-sm">Software Engineer</span>
                </div>
            </div>

            <ul class="sidebar-menu">
                <li class="treeview" ng-click="vm.sideBar();" ng-repeat="menu in menuItems">
                    <a ui-sref="app.{{menu.state}}">
                        <i class="fa fa-{{menu.icon}}"></i> <span>{{menu.title}}</span>
                    </a>
                    <ul class="sidebar-menu" ng-if="menu.hasChild" style="padding-left:20px;">
                        <li class="sub-treeview" ng-click="vm.sideBar();" ng-repeat="menu in menu.menuItems">
                            <a ng-href="#">
                                <i class="fa fa-graduation-cap"></i> <span>Test</span>
                            </a>
                        </li>                       
                    </ul>
                </li>
                <li class="treeview" ng-click="vm.sideBar();">
                    <a href="https://github.com/ranjithprabhuk/Angular-Bootstrap-Dashboard" target="_blank">
                        <i class="fa fa-github"></i> <span>View in Github</span>
                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="height:750px;">
        <ui-view></ui-view>
    </div>

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.3.2
        </div>
        <strong>Copyright &copy; <a href="#" target="_blank">The AIMS License (AIMS)</a>.</strong> All rights reserved.
    </footer>
</div>
